.projects {
display: flex;
align-items: center;
justify-content: space-between;
margin: auto;
width: 90%;
flex-wrap: wrap;
height: 90vh;


h2 {
  margin: 5rem;
 
}
}

.travelly,.elena-joy
{
  flex:  1 1 40rem;
  img {
    width: 400px;
  }
}

