$header1:2.5rem;
$header2:4rem;
$header3:2.5rem;
$header4:2rem;
$text:2.5rem;
$gradient:linear-gradient(left,#38d39f,#38a4f3);
$bg-color:#154353;
$gray-text:#2c2c2c;


@mixin flex($justify,$align,$direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@import 'global';
@import 'showcase';


@media screen and (max-width:1332px)
{
  html {
    font-size: 53%;
  }
  svg {
    width: 100%;
  }


}

@media screen and (max-width:754px)
{
  html {
    font-size: 45%;
  }

  nav{

    .logo {
      @include flex(center,center,column);
    }
  }

  .showcase-text{
    text-align: center;
    margin-top: 5rem;
  }
}

@media screen and (max-width:640px)
{

  html {
    font-size: 40%;
  }
  .showcase-img{
    display: none;
  }

  .showcase-text{
    text-align: center;
    margin-top: 5rem;
  }
}